
body{
    font-family: book antiqua;
}
#scrollingList{
        width: 100%;
        height:280px;
        overflow-x: scroll;  
        overflow-y: hidden;
        white-space:nowrap;
        border-top:1px solid #9e9c9c;
    }
    #scrollingList li{
        width:auto;
        display:inline-block;
        background:white;
        margin-right:2%;
        margin-left:2%;
    }
    #scrollingList li a{
        
        color:#0099ff;
        padding:5px 11px 5px 11px;
        border-radius:360px;
        border:solid orange;
        font-family: Aharoni;
        
    }
    #scrollingList li a:hover{
          background:lightskyblue;
          padding:6px 12px 6px 12px;
          border-radius:360px;
          border:solid orange;
          color: white;
          font-family: Aharoni;
          text-decoration: none;
    }
    #scrollingList li img{
        
        width:180px;
        Height:140px;
        margin-bottom:5%;
    }
    #scrollingList button{
        
        float:left;
        
    }
    #HeadingScrollingList{
     list-style:none;
     font-size:24px;
     color:#cc9900;
     
    }
    #itemName{
        color:gray;
        font-size:16px;
        font-weight:normal;
        font-family: font-antiqua;
        
        
        
    }
    #price{
        color:red;
        font-family: font-antiqua;
    }
    #oldprice{
        color:gray;
        font-family:font-antiqua;
        font-size:14px;
    }
 