body{
        font-family:book antiqua;
        
    }
    li{
        list-style:none;
    }
    #thisPage{
        margin-top:5%;
    }
    #detContainer{
        
        border-right:none;
    }
    #itemName{
        color:black;
        font-weight:bolder;
    }
        #detailDescription button{
            background:white;
            color:orange;
            padding:5pt 10pt 5pt 10pt;
            border:none;
            border:solid orange;
        }
        #price{
            color:red;
            font-size:24px; 
        }
        #description{
            font-weight:normal;
        }
    #displayButton{
        float:right;
        margin-top:10%;
        margin-left:10%;
        border-bottom:;
    }
        #displayButton button{
            border-radius:20px 20px 20px 20px;
            background:#868585;
            color:white;
            border:solid white;
            border-left:solid orange;
            padding:2pt 10pt 2pt 10pt;
        }
    #Specification,#Features,#Description{
        float:left;
        margin-top:5%;
        margin-left:10%;
        width:80%;
        border-top:;
    }
    #Specification li,#Features li,#Description li{
        margin-left:0%;
    }
    #specheader
    {
        font-weight:bolder;
    }
    .mySlides{
        margin-left:5%;
        width:80%;
        height:150pt;
    }
/*      #imageContainer{
        border:solid black;
        border-top:none;
    }*/
    #imageContainer img{
        width:350px;
        height:300px;
    }
    .w3-button{
        background:;
    }
    .row{background:}
    #Description,#Features{
        display:none;
    }
    #desList li{
        list-style: radial-gradient;
    }
   #scroller{
        margin-top:5%;
    }
    #CartPopup,#BuynowPopup{
        position:fixed;
        z-index:999;
        top:25%;
        right:30%;
        width:40%;
        
    }
    #CartPopup input,#BuynowPopup input{
       width:40%;
       margin-left:30%;
       margin-bottom:2%;
    }
    #CartPopup,#BuynowPopup{
        display:none;
    }
    #boughtPopup img,#BuynowPopup image{
        width:250px;
        height:180px;
        margin-bottom:3%;
        margin-left:10%;
    }
  
    #viewCart{
        background:#00aced;
    }
   
    
    .well{
        background:white;
    }
    #detDesc{
        margin-top: 40px;
        color:black;
        border-left: solid orange;
        font-size: 15px;
        background-color:#ccccff;
    }
    #detSpo{
        color:black;
        border-left: solid orange;
        font-size: 13px;
        text-align: center;
        background-color:#ccccff;
    }