   
    #items{
            margin-top:2%;
            background:white;
            width:20%;
            height:auto;
            margin-left:4%;
            display: inline-block;
            list-style:none;
            font-size:16px;
            white-space:nowrap;
            
            //text-align:center;
        }
        #items:hover{
            border:1px solid skyblue;
        }
        
        #items img{
            width:80%;
            height:80pt;
            margin-left:0;
        }
        #stock{
            font-family: font-antiqua;
            color :gray;
            font-size:14px;
        }
       
        #itemsContainer a{
            padding:6px 10px 6px 10px;
            border-radius:360px;
            border:solid skyblue;
            color:#0099ff;
            font-family: Aharoni;
            text-decoration: none;
        }
        #itemsContainer a:hover{
            background: lightskyblue;
            border:solid skyblue;
            color:white;
        }
   
        @media all and (max-width: 1000px) and (min-width:700px){
            #items{
                width:30%;
                margin-left:2%;
            }
        }
        
        @media all and (max-width: 700px) and (min-width:500px){
            
            #items{
                width:40%;
                margin-left:7%;
            }
            #scrollingList{
                margin-top:5%;
            }
            #bluebB {
                display: block;
                width: 400pt;
                height:400pt;
                max-width: none;
            }
        }
        @media screen and  (max-width:500px){
            #items{
                width:80%;
                margin-left:10%;
            }
        }