 #items{
            margin-top:2%;
            background:white;
            width:160pt;
            height:250pt;
            margin-left:3%;
            display: inline-block;
            list-style:none;
            font-size:16px;
            
            //text-align:center;
        }
        #items:hover{
            border:1px solid skyblue;
        }
        
        #items img{
            width:120pt;
            height:100pt;
            margin-left:0;
        }
        #stock{
            font-family: font-antiqua;
            color :gray;
            font-size:14px;
        }
       
        #itemsContainer a{
            padding:6px 10px 6px 10px;
            border-radius:360px;
            border:solid skyblue;
            color:#0099ff;
            font-family: Aharoni;
            text-decoration: none;
        }
        #itemsContainer a:hover{
            background: lightskyblue;
            border:solid skyblue;
            color:white;
        }
        @media screen and (max-witdh: 960px),screen and (min-width:800px){
            
            #items{
                width:160pt;
            }
            #scrollingList{
                margin-top:10%;
            }
            #bluebB {
                display: block;
                width: 400pt;
                height:400pt;
                max-width: none;
            }
        }
        @media screen and  (max-width:400px){
            #items{
                width:80%;
                margin-left:7%;
            }
        }